
    html,
    body{
      margin: 0;
      padding: 0;
      height: 100%;

      background-image: linear-gradient(to bottom right, red, gold);
    }

    .box{
      width: 400px;
      height: 250px;

      background-color: rgba(255, 255, 255, .6);

      margin: 100px auto;

      display: flex;
      align-items: center;
      justify-content: space-evenly;

      border-radius: 25px;
      box-shadow: 0 0 10px #fff;
    }

    .box>div{
      display: inline-block;

      width: 60px;
      height: 100px;
      line-height: 100px;

      text-align: center;
      font-size: 40px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

      text-shadow: 0 0 10px rgba(255, 255, 255 );

    }

    /* 盒子投影 */
    /* -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent),color-stop(0%, transparent), to( rgba(250, 250, 250))); */
  